*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}


#cardcontenner{
    height: 60vmax;
    width: 100vmax;
    
    display: flex;
    justify-content: center;
    justify-items: center;
}
#contener{
    height: 48vmax;
    width: 90vmax;
    padding: 3vmax;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#card1{
    height: 20vmax;
    width: 25vmax;
    background-color: white;
    border-radius: 20px;
    border:1px solid black;
    
    overflow: hidden;
   

}


#card1 button{
    width: 100%;
    height: 6vmax;
    padding: 24px 0;
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: 500;
    color: #747474;
    border-top: 1px solid #ddd;
    transition: all ease 0.5s;
}
#card1 button:hover{
    background-color:lightseagreen;
    color: #fff;
}


#card2{
    height: 20vmax;
    width: 25vmax;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    border:1px solid black

}
#card2 img{
    height: 14vmax;
    width: 23.5vmax;
    margin: 10px;
    border-radius: 25px;
}
#card2 button{
    width: 100%;
    
    padding: 21px 0;
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: 500;
    color: #747474;
    border-top: 1px solid #ddd;
    transition: all ease 0.5s;
}
#card2 button:hover{
    background-color:lightseagreen;
    color: #fff;
}

#card3{
    height: 20vmax;
    width: 25vmax;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    border:1px solid black

}
#card3 button{
    width: 100%;
    
    padding: 21px 0;
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: 500;
    color: #747474;
    border-top: 1px solid #ddd;
    transition: all ease 0.5s;
}
#card3 button:hover{
    background-color:lightseagreen;
    color: #fff;
}
#card3 img{
    height: 14vmax;
    width: 23.5vmax;
    margin: 10px;
    border-radius: 25px;
}

#card4{
    height: 20vmax;
    width: 25vmax;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    border:1px solid black

}
#card4 button{
    width: 100%;
    
    padding: 21px 0;
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: 500;
    color: #747474;
    border-top: 1px solid #ddd;
    transition: all ease 0.5s;
}
#card4 button:hover{
    background-color:lightseagreen;
    color: #fff;
}

#card4 img{
    height: 14vmax;
    width: 23.5vmax;
    margin: 10px;
    border-radius: 25px;
}
#card5{
    height: 20vmax;
    width: 25vmax;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    border:1px solid black

}
#card5 button{
    width: 100%;
    
    padding: 21px 0;
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: 500;
    color: #747474;
    border-top: 1px solid #ddd;
    transition: all ease 0.5s;
}
#card5 button:hover{
    background-color:lightseagreen;
    color: #fff;
}
#card5 img{
    height: 14vmax;
    width: 23.5vmax;
    margin: 10px;
    border-radius: 25px;
}
#card6{
    height: 20vmax;
    width: 25vmax;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    border:1px solid black

}
#card6 button{
    width: 100%;
   
    padding: 21px 0;
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: 500;
    color: #747474;
    border-top: 1px solid #ddd;
    transition: all ease 0.5s;
}
#card6 button:hover{
    background-color:lightseagreen;
    color: #fff;
}
#card6 img{
    height: 14vmax;
    width: 23.5vmax;
    margin: 10px;
    border-radius: 25px;
}

/* futtor */



#futtor{
    
    margin-top: 5vmax;
    height: 50vmax;
    width: 100vmax;
    background-color: black;
    display: flex;
    justify-content: center;
    justify-items: center;
    color: white;
}

#home{
    height: 40vmax;
    width: 80vmax;
    
}

#nav{
    
    height: 8vmax;
    width: 80vmax;
    display: flex;
    justify-content: space-between;
}
#home #nav img{
    height: 40px;
    width: 150px;
    margin-top: 40px;
}

#home #nav a{
    height: 40px;
    width: 180px;
    padding: 7px 20px;
    margin-top: 40px;
    display: flex;
    gap: 7px;
    border-radius:20px;
    border: 1px solid white;
}

.line{
    height: 1px;
    width: 80vmax;
    background-color: white;
}
#futtor #home #contener{
    height: 25vmax;
    width: 80vmax;    
    display: flex;
}

#futtor #home #contener .card{
    height: 22vmax;
    width: 75vmax;
    display: flex;

}
#futtor #home #contener .card .child1{
    height: 22vmax;
    width: 18vmax;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: bold;
    
    
}
#futtor #home #contener .card .child1 h1{
     margin-bottom: 15px;
     font-weight: 20px;
}
#futtor #home #contener .card #child4{
    height: 22vmax;
    width: 25vmax;   
    display: flex;
    font-size: 50px;
    justify-content: space-between;

}
#futtor #home  #paragraph{
    padding-top: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    justify-items: center;
}


@media (max-width:600px) {
    #cardcontenner{
        height: 85vmax;
        width: 62vmax;
        
        display: flex;
        justify-content: center;
        justify-items: center;
    }
    #contener{
        height: 80vmax;
        width: 90vmax;
        padding: 3vmax;
       
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    #card1{
        height: 20vmax;
        width: 25vmax;
        background-color: white;
        border-radius: 20px;
        overflow: hidden;
        border:1px solid black
    
    }
    
    #card1 button{
        width: 100%;
        height: 4vmax;
        padding:  0;
        background-color: transparent;
        border: none;
        font-size: 10px;
        font-weight: 500;
        color: #747474;
        border-top: 1px solid #ddd;
        transition: all ease 0.5s;
    }
    #card1 button:hover{
        background-color:lightseagreen;
        color: #fff;
    }

    #card1 img{
        height: 14vmax;
        width: 23.5vmax;
        margin: 5px;
        border-radius: 25px;
    }
    #card2{
        height: 20vmax;
        width: 25vmax;
        background-color: white;
        border-radius: 20px;
        overflow: hidden;
        border:1px solid black
    
    }
    #card2 button{
        width: 100%;
        height: 4vmax;
        padding:  0;
        background-color: transparent;
        border: none;
        font-size: 10px;
        font-weight: 500;
        color: #747474;
        border-top: 1px solid #ddd;
        transition: all ease 0.5s;
    }
    #card2 button:hover{
        background-color:lightseagreen;
        color: #fff;
    }

    #card2 img{
        height: 14vmax;
        width: 23.5vmax;
        margin: 5px;
        border-radius: 25px;
    }
    #card3{
        height: 20vmax;
        width: 25vmax;
        background-color: white;
        border-radius: 20px;
        overflow: hidden;
        border:1px solid black
    
    }
    #card3 button{
        width: 100%;
        height: 4vmax;
        padding:  0;
        background-color: transparent;
        border: none;
        font-size: 10px;
        font-weight: 500;
        color: #747474;
        border-top: 1px solid #ddd;
        transition: all ease 0.5s;
    }
    #card3 button:hover{
        background-color:lightseagreen;
        color: #fff;
    }

    #card3 img{
        height: 14vmax;
        width: 23.5vmax;
        margin: 5px;
        border-radius: 25px;
    }
    #card4{
        height: 20vmax;
        width: 25vmax;
        background-color: white;
        border-radius: 20px;
        overflow: hidden;
        border:1px solid black
    
    }
    #card4 button{
        width: 100%;
        height: 4vmax;
        padding:  0;
        background-color: transparent;
        border: none;
        font-size: 10px;
        font-weight: 500;
        color: #747474;
        border-top: 1px solid #ddd;
        transition: all ease 0.5s;
    }
    #card4 button:hover{
        background-color:lightseagreen;
        color: #fff;
    }

    #card4 img{
        height: 14vmax;
        width: 23.5vmax;
        margin: 5px;
        border-radius: 25px;
    }
    #card5{
        height: 20vmax;
        width: 25vmax;
        background-color: white;
        border-radius: 20px;
        overflow: hidden;
        border:1px solid black
    
    }
    #card5 button{
        width: 100%;
        height: 4vmax;
        padding:  0;
        background-color: transparent;
        border: none;
        font-size: 10px;
        font-weight: 500;
        color: #747474;
        border-top: 1px solid #ddd;
        transition: all ease 0.5s;
    }
    #card5 button:hover{
        background-color:lightseagreen;
        color: #fff;
    }

    #card5 img{
        height: 14vmax;
        width: 23.5vmax;
        margin: 5px;
        border-radius: 25px;
    }
    #card6{
        height: 20vmax;
        width: 25vmax;
        background-color: white;
        border-radius: 20px;
        overflow: hidden;
        border:1px solid black
    
    }
    #card6 button{
        width: 100%;
        height: 4vmax;
        padding:  0;
        background-color: transparent;
        border: none;
        font-size: 10px;
        font-weight: 500;
        color: #747474;
        border-top: 1px solid #ddd;
        transition: all ease 0.5s;
    }
    #card6 button:hover{
        background-color:lightseagreen;
        color: #fff;
    }

    #card6 img{
        height: 14vmax;
        width: 23.5vmax;
        margin: 5px;
        border-radius: 25px;
    }

}

/* gulsan */

@font-face {
    font-family: oswald;
    src: url(Oswald-VariableFont_wght.ttf);
}
@font-face {
    font-family: playwrite;
    src: url(PlaywriteNZ-VariableFont_wght.ttf);
}
@font-face{
    font-family: playwritevn;
    src: url(PlaywriteVN-VariableFont_wght.ttf);
}
@font-face{
    font-family: dance;
    src: url(DancingScript-VariableFont_wght.ttf);
}
.s1{
    
    width: 100%;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(4px);
}
@font-face{
    font-family: lobster;
    src: url(Lobster-Regular.ttf);
}
@font-face{
    font-family: goti;
    src: url(CarroisGothic-Regular.ttf);
}
.txt h6{
    color: transparent;
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIzmsGYi6KonqzUJcEHxChoztRa6ryiPtlBNb1iT_pHrBvTtZ5aYjMwe9QKsRhWAP-iuc&usqp=CAU);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
@font-face {
    font-family: poppin;
    src: url(Poppins-SemiBold.ttf);
}
@font-face {
    font-family: plu;
    src: url(PlaywriteITModerna-VariableFont_wght.ttf);
}
.gola{
    box-shadow: 10px 0px 100px 5px rgba(255, 0, 0, 0.476);
}
@font-face {
    font-family: anton;
    src: url(Anton-Regular.ttf);
}
@font-face {
    font-family: marker;
    src: url(PermanentMarker-Regular.ttf);
}
@font-face {
    font-family: chewy;
    src: url(Chewy-Regular.ttf);
}
.ton{
    background: yellow;
    border-radius: 23px;
    padding: 12px 12px;
    z-index:1 ;
    overflow: hidden;
}

.ton::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #A5D509;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateX(-100%);
    transition: 1s all ease ;
}
.ton:hover::before{
transform: translateX(0%);
width: 100%;
height: 167px;
}
.ton:hover{
    cursor: pointer;
color: #D61522;
background-color: white;

}
@font-face {
    font-family: bebas;
    src: url(BebasNeue-Regular.ttf);
}
@font-face {
    font-family: noto;
    src: url(NotoSans-VariableFont_wdth\,wght.ttf);
}
.glass {
    background-color: rgba(0, 255, 13, 0.292);
    backdrop-filter: blur white;
    -webkit-backdrop-filter: blur(10px rgba(255, 255, 255, 0.852));
}
@font-face {
    font-family: pt;
    src: url(PTSans-Regular.ttf);
}
@font-face {
    font-family: cad;
    src: url(CedarvilleCursive-Regular.ttf);
}
@font-face {
    font-family: karela;
    src: url(Kurale-Regular.ttf);
}
.sb2:hover{
    cursor: pointer;
    font-family: karela;
transition: 1.2s;
}
.b4{
    border-color: black;
    overflow: hidden;
position: relative;
transition: .5s all ease;
z-index: 1;

}
.b4:hover{
    color: red;
    border-color: white;
}
.b4::before{
    content: '';
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background: red;
    position: absolute;
    z-index: -1;
    transform: translateX(-20%) translateY(-40%) scale(0);
    transition: 1s all ease;
    border-radius: 50%;
}
.b4:hover::before{
    
    background-color: black;
    transform:   translateX(-20%) translateY(-40%) scale(100%) ;
}
    .right{
        
    background-color: rgba(255, 0, 144, 0.402);
    backdrop-filter: blur white;
    -webkit-backdrop-filter: blur(10px rgba(255, 255, 255, 0.852));

    }
    .left{
            
    background-color: rgba(255, 0, 144, 0.402);
    backdrop-filter: blur white;
    -webkit-backdrop-filter: blur(10px rgba(255, 255, 255, 0.852));

    }
    @font-face {
        font-family: var;
        src: url(VarelaRound-Regular.ttf);
    }
    .tu{
        padding: 23px;
    }
    .tu:hover{
        transition: 2s;
    }